<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>933680640205-qrtseumjak72bnuqp1f47j7kooejf4ro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933680640205-qrtseumjak72bnuqp1f47j7kooejf4ro</string>
	<key>API_KEY</key>
	<string>AIzaSyAul5VuGn95iRqfgsNYk172jMdd36xz9As</string>
	<key>GCM_SENDER_ID</key>
	<string>933680640205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idea.IDEA-Euro-2016</string>
	<key>PROJECT_ID</key>
	<string>euros-match-schedule</string>
	<key>STORAGE_BUCKET</key>
	<string>euros-match-schedule.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:933680640205:ios:a7010cc36eb0c29d</string>
	<key>DATABASE_URL</key>
	<string>https://euros-match-schedule.firebaseio.com</string>
</dict>
</plist>